---
layout: base.njk
title: Stranica nije pronađena
permalink: /404.html
eleventyExcludeFromCollections: true
---
{% set heroTitle = "Stranica nije pronađena" %}{% set heroText = "Stranica koju tražite ne postoji ili je premještena." %}{% set heroImage = "" %}
{% include "page-hero.njk" %}
<section class="section"><div class="container" style="text-align:center"><a class="btn btn-yellow" href="/">Natrag na početnu</a></div></section>
