---
layout: base.njk
useSiteTitle: true
permalink: /contact/
---
{%- from "partials/icons.njk" import icon -%}
{% set heroTitle = contact.title %}{% set heroText = contact.text %}{% set heroImage = "" %}
{% include "page-hero.njk" %}
<section class="section">
  <div class="container split contact-split">
    <div>
      <h2 class="h2">{{ contact.heading }}</h2>
      <p class="lead">{{ contact.body }}</p>
      <ul class="contact-list">
        <li>{{ icon("phone", 22) }}<a href="{{ site.phone | tel }}">{{ site.phone }}</a></li>
        <li>{{ icon("pin", 22) }}<span>{{ site.address }}</span></li>
        <li>{{ icon("mail", 22) }}<a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    {% include "partials/form.njk" %}
  </div>
</section>
