---
layout: base.njk
useSiteTitle: true
permalink: /services/
---
{%- from "partials/icons.njk" import icon -%}
<section class="section band-blue services-band services-page">
  <div class="container">
    <div class="section-head">
      <h1 class="h1">{{ servicesPage.title }}</h1>
      <p>{{ servicesPage.text }}</p>
    </div>
    {% include "partials/service-cards.njk" %}
  </div>
</section>
