<section class="cta band-blue">
  <div class="container cta-inner">
    <h2>{{ site.cta_title }}</h2>
    <a class="btn btn-yellow" href="{{ site.phone | tel }}">Nazovite {{ site.phone }}</a>
  </div>
</section>
